<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Exchange</title>

  <link th:rel="stylesheet" th:href="@{assets/bootstrap-slider/css/bootstrap-slider.css}"/>
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min-jsf.css} "/>
  <link th:rel="stylesheet" th:href="@{webjars/font-awesome/6.1.0/css/all.css} "/>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
</head>
<body>
<div class="container text-center">


  <!---form to confirm the exchange, offer alternative item, msg seller  -->

</div>

<div xmlns:th="http://www.thymeleaf.org">
    <form th:action="@{/user_profile}" th:object="${exchangeOrder}" method="post">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="homepage.html" style="color:#e68534;">Paw2Paw</a>
            <a class="navbar-brand" th:href="@{/user_profile}" style="color:#e68534;">My Account</a>
        </nav>


    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success" >Exchange Confirmation</div>
       <div class="card-body">

           <tr>
               <td>
                   <div th:text="${orders[1].orderItem}"></div>
                   <div th:text="${orders[1].exchangeItem}"></div>
                   <!--                <div th:text="${exchangeOrder.orderItem}"> item name</div>


                                                      <h5 class="card-title" th:text= "${exchange.productName}">Exchange product name</h5>
                                   -->
               </td>

           </tr>
       </div>
      <br/>
                <br/>
                <br/>
        <p class="card-text">Your Message to the seller: </p>
                <textarea class="form-control" id="buyerMessage" rows="3" th:text="${exchangeOrder.buyerMessage}"  ></textarea>

    </div>
    </form>
</div>
</body>
</html>