<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/online" lang="">
<head>
  <title>Community</title>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-slider/css/bootstrap-slider.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min-jsf.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/6.1.0/css/all.css} "/>

</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light static-top" style="background-color:#e68534;">
          <div class="container">
              <a class="navbar-brand" href="/" style="color:#e68534;">Community</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                      aria-controls="navbarResponsive"
                      aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav me-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="homepage.html">Home
                              <span class="sr-only">(current)</span>
                          </a>
                      </li>
                  </ul>
                  <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="login.html">Login</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="register.html">Register</a>
                      </li>

                  </ul>
              </div>
          </div>
      </nav>

              <table class="table table-striped">
                  <thead>
                  <tr>
                      <th scope="col">Answers</th>
                      <th scope="col">Title</th>
                      <th scope="col">Author</th>
                      <th scope="col">Created</th>
                      <th scope="col">Thread</th>
                  </tr>
                  </thead>
                  <tbody>
                  <div class="row" xmlns:th="http://www.thymeleaf.org">
                      <div th:each="topic, stat:${allTopics}">
                    <tr>
                        <th scope="row"> 1</th>
                        <td th:text= "${topic.getTitle()}">Topic title</td>
                        <td>
                            <a th:href= "@{/user_profile}">
                            <button type="button" class="btn btn-warning btn-sm"
                                    th:text="${topic.getUser().username}">UserA</button>
                            </a>
                        </td>
                        <td th:text="${topic.getTimeStamp()}">Timestamp 1</td>
                        <td>
                            <a th:href="@{'/newTopic/' + ${topic.getId()}}" class = "btn btn-outline-warning">Thread</a>
                        </td>
                    </tr>
                      </div>
                   </div>
                  </tbody>
                  </table>

</body>
</html>