<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/online" lang="">
<head>
    <title>Community</title>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-slider/css/bootstrap-slider.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min-jsf.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/6.1.0/css/all.css} "/>
    <p class="col s12" style="text-align: justify; display:block; white-space:pre-wrap"
       th:text="${topic.getContent()}">Topic's content</p>
</head>
<body>
<div xmlns:th="http://www.thymeleaf.org">
<form th:action="@{/topic}" th:object="${topic}" method="post"  >
    <input type="hidden" name="id_topic" th:value="${topic.getTitle()}"/>
    <input type="hidden" name="id_content" th:value="${topic.getContent()}"/>



    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top" style="background-color:#e68534;">
    <div class="container">
        <a class="navbar-brand" href="/" style="color:#e68534;">Community</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="homepage.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register.html">Register</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

    </form>







</div>

</body>
</html>