<!DOCTYPE html>
<html lang = en xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout/outline">
<head>
    <title>Community</title>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-slider/css/bootstrap-slider.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min-jsf.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/6.1.0/css/all.css} "/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />

    <title th:text="${topic.getTitle()} + '| JF'">Topic's title | JF</title>
    <!--- temp for testing
    <p class="col s12" style="text-align: justify; display:block; white-space:pre-wrap"
       th:text="${topic.getContent()}">Topic's content</p>
     -->
</head>
<body>
<div class="container text-center"></div>
    <div xmlns:th="http://www.thymeleaf.org">
        <nav class="navbar navbar-light bg-light" style="background-color:#e68534;">
            <a class="navbar-brand" href="homepage.html" style="color:#e68534;">Home</a>
            <a class="navbar-brand" th:href= "@{/forum.html}" style="color:#e68534;">Community</a>
            <a class="navbar-brand" th:href="@{/user_profile}" style="color:#e68534;"
                   th:text="${topic.getUser().getUsername()}">My Account</a>
        </nav>
    </div>
            <!--
            <h3 style="color:#e68534;">Order History</h3>
            <form th:action="@{/order}" th:object="${myOrders}">
            -->

                     <div class="card border-warning mb-3 text-center" style="max-width: 1500px;">
                            <a th:href= "@{/user_profile}">
                            <div class="card-header" style="color:#e68534;" th:text="${topic.getUser().getUsername()}">
                                Username</div>
                            </a>
                            <div class="card-body">
                                <h3 class="card-title" th:text="${topic.getTitle()}">Topic title</h3>
                                <p class="card-text" style="text-align: justify; display:block; white-space:pre-wrap"
                                   th:text= "${topic.getContent()}">Content</p>
                            </div>
                         <div class="card-footer">
                             <small class = "text-body-secondary" th:text="${topic.showTimestamp()}"> timestamp </small>
                         </div>
                     </div>

                <hr/>
                <!-- ANSWER -->
                    <header class="row text-center">
                        <div class="col s12">
                            <button type="button" class="btn btn-warning text-center">
                            <span class="badge text-dark text-bg-secondary" th:text="|Replies: | + ${replies.size()}">
                            </span>
                            </button>
                        </div>
                    </header>

            <hr/>

                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col  text-center">
                        <div class="card text-dark bg-light mb-3 text-center" th:each="reply: ${replies}">
                            <a th:href="@{/user_profile}">
                            <div class="card-header" style="color:#e68534;" th:text="${reply.getUser().getUsername()}">
                                Answer's author
                            </div>
                            </a>
                                <div class="card-body">
                                <p class="card-text" style="text-align: justify; display:block; white-space:pre-wrap"
                                   th:text="${reply.getContent()}">
                                    Answer's content
                                </p>
                                </div>
                                <div class="card-footer text-body-secondary" th:text="${reply.showTimestamp()}"></div>

                            <span th:if="${topic.getUser().getUsername() == userName}">
                            <form th:action="@{/newTopic/{topic.getId()}}" method="post">
                            <input type="hidden" name="id_answer" th:value="${reply.getId()}"/>
                            <input type="hidden" name="id_topic" th:value="${topic.getId()}"/>
                            </form>
                            </span>

                            <span th:if="${reply.getUser().getUsername() == userName}">
                            <form th:action="@{/newTopic/{topic.getId()}}" method="post">
                            <input type="hidden" name="id_answer" th:value="${reply.getId()}"/>
                            <input type="hidden" name="action" th:value="delete"/>
                            <input type="hidden" name="id_topic" th:value="${topic.getId()}"/>
                            <!--
                            <button class="chip left" style="background-color: #37b7ab;">Delete</button>
                            -->
                        </form>
                        </span>
                        </div>
                    </div>
                </div>


                    <form th:action="@{/newTopic}" method="post">
                        <div class="row text-center">
                            <div class="col s12 text-center">
                                    <textarea name="content" class="form-control " style="white-space:pre-wrap"
                                              maxlength="1024" data-length="1024" required="required"></textarea>
                            </div>
                        </div>

                        <input type="hidden" name="id_topic" th:value="${topic.getId()}"/>
                        <input type="hidden" name="userName" th:value="${userName}"/>
                        <div class="row text-center">
                            <div class="col s12 text-center">
                                <button type="submit"
                                        class="btn btn-warning" name="answer">Reply</button>
                            </div>
                        </div>
                    </form>













            </form>




</div>

</body>
</html>