<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Profile</title>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-slider/css/bootstrap-slider.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.1.3/css/bootstrap.min-jsf.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/6.1.0/css/all.css} "/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
</head>
<body>
<!--ADD order/exchange history, nav bar, reformat profile photo, display username   -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#" >
            <img alt="" th:src="@{'/images/' + ${currUser.username} + '.jpg'}" width="50" height="50" class="d-inline-block align-top">
            <span class="navbar-band mb-0 h3 mx-lg-auto ml-lg-auto" style="color:#e68534;" th:text="${currUser.username}"> </span>
        </a>
        <a class="navbar-brand" href="homepage.html" style="color:#e68534;">Paw2Paw</a>
        <!--
        <a class="navbar-brand" th:href="@{'/productList/' + ${currUser.getUsername()}}"
           style="color:#e68534;">Marketplace</a>
           -->
        <a class="navbar-brand" href="productList.html" style="color:#e68534;">Marketplace</a>
        <a class="navbar-brand" href="homepage.html" style="color:#e68534;" id="logoutPage" >Log Out</a>
    </nav>

<!--
<div th:object="${myOrders}"  >order history</div>
-->
<div class="container">
    <form th:action="@{/user_profile}" method = "post">
    <div class ="row align-items-start">
        <div class = "col">
    <div class="list-group">
    <h3 style="color:#e68534;">Order History</h3>

        <div class="d-flex w-100 justify-content-between"
             th:each="currOrder: ${currOrders}">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <h5 class="mb-1" style="color:#e68534;" th:text= " 'Purchase Order #' + ${currOrder.getOrderId()}">Order 001</h5>
            <h5 class="mb-1" th:text="${currOrder.getOrderItem()}">Order Name</h5>
            <small th:text= " '$' + ${currOrder.getOrderPrice()}">Order Price</small>
        <!--
                <p class="mb-1" >Order Details</p>
        <small>Order Status: </small>
        -->
            </a>
        </div>

        <div class="d-flex w-100 justify-content-between"
        th:each="currExchange: ${currExchanges}">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <h5 class="mb-1" style="color:#e68534;" th:text= " 'Exchange Order #' + ${currExchange.getOrderId()}">Exchange Order 002</h5>
                <h5 class="mb-1" th:text="${currExchange.getOrderItem()}">Order Item  Name</h5>
        <p class="mb-1" th:text="${currExchange.getExchangeItem()}">Item traded</p>
        </a>
        </div>
    </form>
</div>
</div>
    </div>

    <div class="col">
    <div class="list-group">
        <h3 style="color:#e68534;">Topics and Replies</h3>
        <div class="d-flex w-100 justify-content-between"
             th:each="currTopic: ${currTopics}">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
                <h5 class="mb-1" style="color:#e68534;" th:text= " 'Topic #' + ${currTopic.getId()}">
                    Topic #</h5>

                <h5 class="mb-1" th:text="${currTopic.getTitle()}">Topic Title</h5>
                <p class="mb-1" th:text="${currTopic.getContent()}">Message details</p>
                <small>last replied by User A</small>
                <small class="float-right" th:text="${currTopic.getTimeStamp()}">3 days ago</small>
        </a>
        </div>
    </div>
    </div>

    <!--  <a th:href="@{'/topics/user/' + ${currUser.getId()}}" style="display: block; color: #26a69a"></a>
--
  -->
    <h3 style="color:#e68534;">Add a Topic</h3>

      <form th:action="@{/user_profile}" th:object="${newTopic}" method = "post">
     <!--   404 raised if posting to /newTopic  -->
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Topic Title</label>
        <input type="text" class="form-control" name = "title" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for= "content" class="form-label">Content</label>
        <textarea class="form-control" name="content" style="white-space:pre-wrap"> </textarea>
    </div>
          <!--do not delete the above, or raises 400 request param not present-->
          <input type="hidden" name="userId" th:value="${currUser.getId()}"/>
    <button type="submit" class = "btn btn-warning">Add Topic</button>

    </form>

</div>

</body>
</html>